<div class="container">
  <div class="row m-0">
    <div class="d-flex justify-content-end mb-4 col-12">
      <button class="btn btn-primary" (click)="fileUpload.click()">
        <i class="fas fa-file-upload pr-2"></i>
        Upload File
      </button>
      <input
        class="d-none"
        type="file"
        accept=".csv"
        #fileUpload
        (change)="handleFileInput($event)"
      />
    </div>
    <div class="col-12 overflow-auto" *ngIf="products?.length">
      <table class="table table-striped table-hover table-bordered bg-white">
        <thead class="bg-dark text-white text-capitalize">
          <tr>
            <td>ID</td>
            <td>Brand Name</td>
            <td>Name</td>
            <td>Client SKU</td>
            <td>Size</td>
            <td>Quantity</td>
            <td>MRP</td>
            <td>Sub-total</td>
            <td>GST</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product?.id}}</td>
            <td>{{product?.brandName}}</td>
            <td>{{product?.name}}</td>
            <td>{{product?.clientSkuId}}</td>
            <td>{{product?.size}}</td>
            <td>{{product?.quantity}}</td>
            <td>{{product?.mrp}}</td>
            <td>{{product?.subtotal}}</td>
            <td>{{product?.gst}}</td>
            <td>{{product?.total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
