<div class="container">
  <div class="row m-0">
    <div class="d-flex justify-content-end mb-4 col-12">
      <button class="btn btn-primary" (click)="fileUpload.click()">
        <i class="fas fa-file-upload pr-2"></i>
        Upload File
      </button>
      <input
        class="d-none"
        type="file"
        accept=".csv"
        #fileUpload
        (change)="handleFileInput($event)"
      />
    </div>
    <div class="col-12">
      <div
        class="px-3 py-1 bg-white my-4 d-flex flex-column"
        *ngIf="errors?.length"
      >
        <span class="pt-1 text-danger" *ngFor="let error of errors"
          >{{error}}</span
        >
      </div>
      <div class="overflow">
        <table
          class="table table-hover table-bordered bg-white"
          *ngIf="products?.length"
        >
          <thead class="bg-dark text-white text-capitalize">
            <tr>
              <th>ID</th>
              <th>Brand Name</th>
              <th>Name</th>
              <th>Client SKU</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>MRP</th>
              <th>Sub-total</th>
              <th>GST</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product?.id}}</td>
              <td>{{product?.brandName}}</td>
              <td>{{product?.name}}</td>
              <td>{{product?.clientSkuId}}</td>
              <td>{{product?.size}}</td>
              <td>{{product?.quantity}}</td>
              <td>{{product?.mrp}}</td>
              <td>{{product?.subtotal}}</td>
              <td>{{product?.gst}}</td>
              <td>{{product?.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
