<nav class="navbar navbar-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" [routerLink]="['/']">
      <img src="/assets/brand-logo.png" />
    </a>
    <div class="nav-item" *ngIf="canShow('/upload')">
      <a
        class="nav-link text-dark position-relative"
        [routerLink]="['/upload']"
      >
        <i
          class="fas fa-file-upload fa-lg"
          data-tooltip="tooltip"
          data-placement="bottom"
          title="Upload"
        ></i>
      </a>
    </div>
    <div class="nav-item pr-1" *ngIf="canShow('/checkout')">
      <a
        class="nav-link text-dark position-relative"
        [routerLink]="['/checkout']"
      >
        <i
          class="fas fa-shopping-cart fa-lg"
          data-tooltip="tooltip"
          data-placement="bottom"
          id="myTooltip"
          title="Checkout"
        ></i>
        <span class="badge badge-pill badge-secondary cart-quantity"
          >{{ quantity }}</span
        >
      </a>
    </div>
    <div class="nav-item dropdown px-2">
      <i
        class="fas fa-user-circle text-dark fa-lg dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        data-tooltip="tooltip"
        data-placement="bottom"
        title="User Info"
      ></i>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <label class="w-100 py-1 px-4 text-nowrap">{{userName}}</label>
        <a class="dropdown-item font-weight-bold" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="main-container position-relative">
    <div class="toast-container">
        <toast></toast>
    </div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="container-fluid">
    <span class="text-muted" id="date-time">{{ date }}</span>
  </div>
</div>
