<div class="container">
  <div class="row justify-content-center bg-white" *ngIf="product && isProductFetched">
    <div class="col-10 col-md-8 col-lg-6 my-3">
      <div
        class="carousel slide"
        id="caraouselControl"
        data-ride="carousel"
        data-interval="3500"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item"
            [ngClass]="{'active': first}"
            *ngFor="let image of product.images; let first = first"
          >
            <img class="d-block w-100 rounded" alt="Image slide" src="{{image}}" />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#caraouselControl"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#caraouselControl"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6 py-3">
      <h4 class="font-weight-bold">{{product.brandName}}</h4>
      <h5 class="text-secondary light-name">{{product.name}}</h5>
      <hr />
      <h6 class="d-flex align-items-center">
        <span class="text-dark pr-2">MRP:</span>&nbsp;
        <i class="fas fa-rupee-sign fa-xs pr-1"></i>
        <span class="font-weight-bold">{{product.mrp}}</span>
      </h6>
      <h6>
        <span class="text-dark">Size:</span>&nbsp;
        <span class="font-weight-bold size">{{product.size}}</span>
      </h6>
      <form class="mt-4 row align-items-end m-0" (ngSubmit)="addToCart()">
        <div class="form-group mb-md-0 col-12 col-sm-7 col-md-3 col-lg-4 p-0">
          <label for="quantity" class="text-secondary">Quantity</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="quantity"
            value="1"
            min="1"
            name="quantity"
            placeholder="Quantity"
          />
        </div>
        <button
          class="btn btn-primary col-12 col-md-3 col-lg-3 col-sm-7 ml-md-3"
          type="submit"
        >
          Add To Cart
        </button>
      </form>
      <hr />
      <div class="product-description">
        <h6 class="font-weight-bold">Product Description</h6>
        <p>{{product.description}}</p>
      </div>
      <div class="product-size-fit mt-2">
        <h6 class="font-weight-bold">Size & Fit</h6>
        <p>
          The model (height 5'8") is wearing a size
          <span class="size">{{product.size}}</span>
        </p>
      </div>
      <div class="product-size-fit mt-2">
        <h6 class="font-weight-bold">Material & Care</h6>
        <p>
          Material: <span>{{product.material}}</span>
          <br />
          Care: <span>{{product.care}}</span>
        </p>
      </div>
    </div>
  </div>
  <h3 class="text-center" *ngIf="!product && isProductFetched">
    Product not found!
  </h3>
</div>
