<div
  class="product-detail cursor-pointer"
  *ngIf="product"
  (mouseleave)="quantity = 1"
  (click)="navigateToDetail()"
>
  <div class="mx-auto">
    <img
      class="img-fluid img-thumbnail border-0 p-0"
      [src]="product.image"
      alt="Image not Available"
    />
  </div>
  <div class="mt-2 px-1 position-relative">
    <div
      class="cart-section d-flex align-items-center justify-content-between bg-white w-100"
      (click)="stopPropagation($event)"
    >
      <input
        class="small py-1 px-2"
        [(ngModel)]="quantity"
        value="1"
        min="1"
        type="number"
      />
      <button
        class="btn btn-outline-primary btn-sm"
        (click)="addToCart($event)"
      >
        + Add
      </button>
    </div>
    <div class="font-weight-bold product-brand">{{ product.brandName }}</div>
    <small class="text-secondary product-name">{{product.name}}</small>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <small class="pr-1 text-secondary">Size:</small>
        <span class="product-size">{{product.size}}</span>
      </div>
      <div class="d-flex align-items-center">
        <small class="pr-1 text-secondary">MRP:</small>
        <i class="fas fa-rupee-sign fa-sm pr-1"></i>
        <span class="font-weight-bold product-mrp">{{product.mrp}}</span>
      </div>
    </div>
  </div>
</div>
