/* You can add global styles to this file, and also import other style files */
@import './loader.scss';

html {
  min-height: 100%;
  font-size: 15px;
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p {
    color: #343a40;
}

.dropdown-menu.show {
    left: -8rem;
}

.fas.dropdown-toggle::after {
    display: none;
}
